
body {
  background: repeating-linear-gradient(
  to right,
  hsl(306, 92%, 71%),
  #f6ba52 10px,
  #ffd180 10px,
  white 20px
);
}

.navbar {
  text-align: center;
}

.links{
  background-color: yellow;
  padding: 5px 110px;
  font-size: 30px;
  color: black;
  text-decoration: none;
  font-family: "Impact";
}

.flow-container {
  /* display: center; */
  position: center
}
.add-post-form {
  display: grid;
  width: 100px
}




input[type=text] {
  padding: 10px;
}

input[type=text]:focus {
  border: 3px solid #555;
  
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
} */

#Header {
  font-size: 95px;
  color: #fb33d6;
  font-family: "Impact";
  font-style: italic;
  text-align: center;
  /* animation: App-logo-spin infinite 20s linear; */
}

.sort-button {
  
}

#post-image {
  width: 250px
}

#like-button {
  position: left
}

#event-link {
  color: #0707e3;
}

#event-image {
  width: 350px
}

/*  */